core/crce-metadata-api/src/main/resources/cz/zcu/kiv/crce/metadata/schema/v1_0_0/metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:crce="http://relisa-dev.kiv.zcu.cz/schema/crce/metadata/1.0.0"
        targetNamespace="http://relisa-dev.kiv.zcu.cz/schema/crce/metadata/1.0.0"
        elementFormDefault="unqualified"
        attributeFormDefault="unqualified"
        version="1.0.0">

    <element name="repository" type="crce:Trepository"/>

    <complexType name="Trepository">
        <sequence>
            <element name="resource" type="crce:Tresource" minOccurs="0" maxOccurs="unbounded"/>
            <any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="name" type="string">
            <annotation>
                <documentation xml:lang="en">
                    The name of the repository. The name may contain
                    spaces and punctuation.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="increment" type="long">
            <annotation>
                <documentation xml:lang="en">
                    An indication of when the repository was last changed. Clients can
                    check whether the repository has been updated by checking this increment value.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="id" type="string">
            <annotation>
                <documentation xml:lang="en">
                    CRCE ID of the repository.
                </documentation>
            </annotation>
        </attribute>
        <anyAttribute/>
    </complexType>

    <complexType name="Tresource">
        <annotation>
            <documentation xml:lang="en">
                Describes a general resource with requirements and capabilities.
            </documentation>
        </annotation>
        <sequence>
            <element name="capability" type="crce:Tcapability" minOccurs="1" maxOccurs="unbounded"/>
            <element name="requirement" type="crce:Trequirement" minOccurs="0" maxOccurs="unbounded"/>
            <element name="property" type="crce:Tproperty" minOccurs="0" maxOccurs="unbounded"/>
            <any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="id" type="string">
            <annotation>
                <documentation xml:lang="en">
                    CRCE ID of the resource.
                </documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="Tcapability">
        <annotation>
            <documentation xml:lang="en">
                A named set of type attributes and directives. A capability can be
                used to resolve a requirement if the resource is included.
            </documentation>
        </annotation>
        <sequence>
            <element name="attribute" type="crce:Tattribute" minOccurs="0" maxOccurs="unbounded"/>
            <element name="directive" type="crce:Tdirective" minOccurs="0" maxOccurs="unbounded"/>
            <element name="property" type="crce:Tproperty" minOccurs="0" maxOccurs="unbounded"/>
            <element name="capability" type="crce:Tcapability" minOccurs="0" maxOccurs="unbounded"/>
            <any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="namespace" type="string">
            <annotation>
                <documentation xml:lang="en">
                    Name space of the capability. Only requirements with the
                    same name space must be able to match this capability.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="id" type="string">
            <annotation>
                <documentation xml:lang="en">
                    CRCE ID of the capability.
                </documentation>
            </annotation>
        </attribute>
        <anyAttribute/>
    </complexType>

    <complexType name="Trequirement">
        <annotation>
            <documentation xml:lang="en">
                A filter on a named set of capability attributes.
            </documentation>
        </annotation>
        <sequence>
            <element name="attribute" type="crce:Tattribute" minOccurs="0" maxOccurs="unbounded"/>
            <element name="directive" type="crce:Tdirective" minOccurs="0" maxOccurs="unbounded"/>
            <element name="requirement" type="crce:Trequirement" minOccurs="0" maxOccurs="unbounded"/>
            <any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="namespace" type="string">
            <annotation>
                <documentation xml:lang="en">
                    Name space of the requirement. Only capabilities within the
                    same name space must be able to match this requirement.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="id" type="string">
            <annotation>
                <documentation xml:lang="en">
                    CRCE ID of the requirement.
                </documentation>
            </annotation>
        </attribute>
        <anyAttribute/>
    </complexType>

    <complexType name="Tproperty">
        <annotation>
            <documentation xml:lang="en">
                A filter on a named set of property attributes.
            </documentation>
        </annotation>
        <sequence>
            <element name="attribute" type="crce:Tattribute" minOccurs="0" maxOccurs="unbounded"/>
            <!--<element name="directive" type="crce:Tdirective"/>-->
            <element name="link" type="crce:Tlink" minOccurs="0" maxOccurs="unbounded"/>
            <!--<element name="property" type="crce:Tproperty"/>-->
            <any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="namespace" type="string">
            <annotation>
                <documentation xml:lang="en">
                    Name space of the property.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="id" type="string">
            <annotation>
                <documentation xml:lang="en">
                    CRCE ID of the property.
                </documentation>
            </annotation>
        </attribute>
        <anyAttribute/>
    </complexType>

    <complexType name="Tattribute">
        <annotation>
            <documentation xml:lang="en">
                A named value with an optional type that decorates
                a requirement or capability.
            </documentation>
        </annotation>
        <sequence>
            <any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="name" type="string" use="required">
            <annotation>
                <documentation xml:lang="en">
                    The name of the attribute.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="value" type="string" use="required">
            <annotation>
                <documentation xml:lang="en">
                    The value of the attribute.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="type" type="string">
            <annotation>
                <documentation xml:lang="en">
                    The type of the attribute.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="operator" type="string">
            <annotation>
                <documentation xml:lang="en">
                    The operator of the attribute.
                </documentation>
            </annotation>
        </attribute>
        <anyAttribute/>
    </complexType>

    <complexType name="Tdirective">
        <annotation>
            <documentation xml:lang="en">
                A named value of type string that instructs a resolver
                how to process a requirement or capability.
            </documentation>
        </annotation>
        <sequence>
            <any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="name" type="string" use="required">
            <annotation>
                <documentation xml:lang="en">
                    The name of the directive.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="value" type="string" use="required">
            <annotation>
                <documentation xml:lang="en">
                    The value of the directive.
                </documentation>
            </annotation>
        </attribute>
        <anyAttribute/>
    </complexType>

    <complexType name="Tlink">
        <annotation>
            <documentation xml:lang="en">
                A link.
            </documentation>
        </annotation>
        <sequence>
            <any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="rel" type="string">
            <annotation>
                <documentation xml:lang="en">
                    The link relationship.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="type" type="string">
            <annotation>
                <documentation xml:lang="en">
                    The link type.
                </documentation>
            </annotation>
        </attribute>
        <attribute name="name" type="string">
            <annotation>
                <documentation xml:lang="en">
                    The link name.
                </documentation>
            </annotation>
        </attribute>
        <anyAttribute/>
    </complexType>

</schema>
